
*.xcscheme

EnumBitMask.xcodeproj/xcuserdata/razvanpascalau.xcuserdatad/xcschemes/xcschememanagement.plist

EnumBitMask.xcodeproj/project.xcworkspace/xcuserdata/razvanpascalau.xcuserdatad/UserInterfaceState.xcuserstate

EnumBitMask.xcodeproj/xcuserdata/razvanpascalau.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
